@charset "UTF-8";
/**
 *
 * Färger
 *
 */
.timeline {
  display: flex;
  background: #93B7BF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: white;
  position: relative;
  z-index: 2; }

.timeline__item {
  padding: 0 40px;
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px; }
  .timeline__item.timeline__item--header {
    padding: 0 20px;
    background: #DEE9EB;
    color: #EE3F43; }
  .timeline__item.timeline__item--day {
    padding: 0 20px;
    background: #759298; }

.timeline__item__heading {
  margin-bottom: 2px;
  display: block;
  font-size: 18px; }

.sidebar {
  width: 95%;
  max-width: 410px;
  background: #F2B872;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.5); }

.category-list {
  margin: 0;
  padding: 0; }

.category-list__item {
  list-style-type: none; }
  .category-list__item a {
    display: block; }
  .category-list__item:hover, .category-list__item.category-list__item--active {
    background: #f4c68e;
    cursor: pointer; }

.category-list__heading {
  padding: 10px 0 10px 50px;
  font-size: 36px;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  color: #EE3F43; }

.posts-list {
  margin: 0;
  padding: 0; }

.posts-list__item {
  list-style-type: none; }
  .posts-list__item a {
    padding: 15px 0 15px 100px;
    display: block;
    font-size: 24px;
    color: #EE3F43;
    text-decoration: none; }
  .posts-list__item time {
    font-size: 14px;
    color: black;
    display: block; }
  .posts-list__item:hover, .posts-list__item.posts-list__item--active {
    background: #f7d7b0; }

html, body {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #F25430; }

.site-wrapper {
  display: flex;
  min-height: 100%; }

.site-title {
  margin: 0;
  font-size: 64px;
  color: white; }

.main {
  margin-left: 120px; }

.post {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

/**
 *
 * Helpers
 *
 */
.flex {
  display: flex; }
