<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{function('wp_head')}}
	</head>
	<body {{function('body_class')}}>

       {% include 'timeline.twig' %} 

        <div class="site-wrapper">
            {% include 'sidebar.twig' %}

            <section class="main">
                <h1 class="site-title">Lorem ipsum dolor</h1>
                <div class="post-wrapper">
                    <article class="post">
                        <img src="http://via.placeholder.com/780x522">
                        <h1 class="post__title"><small>Dag 5. Berlin</small>Lorem ipsum dolor sit amet</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ultricies augue ac dolor interdum, vitae maximus arcu elementum. Suspendisse tincidunt, nisi quis fermentum blandit, mi mi interdum felis, ac laoreet augue urna ut nulla. Sed egestas volutpat mollis. Suspendisse potenti. Duis ac leo tortor. Proin nec sapien risus. Quisque malesuada metus viverra neque egestas euismod. Ut pellentesque ac ipsum ac gravida.</p>
                        <p>Cras varius id arcu ac porttitor. Maecenas ultrices, ligula a dapibus dictum, lectus dui fringilla eros, quis euismod risus eros ut urna. Morbi eu lacus nisi. Pellentesque augue nibh, posuere eget eros sed, pulvinar placerat erat. Cras nulla enim, luctus sit amet est varius, dignissim porta elit. Ut vitae lacinia enim. Sed fermentum, metus finibus volutpat elementum, neque enim laoreet turpis, porta vestibulum lacus lacus non diam. Nunc vel metus in nibh efficitur pharetra ut vitae lorem. Suspendisse auctor lorem dolor, sit amet accumsan nisi elementum eu.</p>
                    </article>
                    <div class="posts-pile" style="transform: rotate(2deg)"></div>
                    <div class="posts-pile" style="transform: rotate(-2deg)"></div>
                </div>
            </section>
        </div>


        {{function('wp_footer')}}
    </body>
</html>