<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{function('wp_head')}}
	</head>
	<body {{function('body_class')}}>

       {% include 'timeline.twig' %} 

        <div class="site-wrapper">
            {% include 'sidebar.twig' %}
            <section class="main">
                <h1 class="site-title">Lorem ipsum dolor</h1>
                <div class="post-wrapper">
                    <article class="post">
                        <h1>Lorem ipsum dolor sit amet</h1>
                    </article>
                </div>
            </section>
        </div>


        {{function('wp_footer')}}
    </body>
</html>