<aside class="sidebar">
    <ul class="posts-list">
        <li class="posts-list__category">
            <span class="post-list__heading">🇸🇪 Karlstad</span>
            <ul>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
            </ul>
        </li>
    </ul>
</aside>