<aside class="sidebar">
    <ul class="category-list">
        <li class="category-list__item">
            <a href="#" class="category-list__heading">🇸🇪 Karlstad</a>
        </li>
        <li class="category-list__item category-list__item--active">
            <a href="#" class="category-list__heading">🇸🇪 Göteborg</a>
            <ul class="posts-list">
                <li class="posts-list__item">
                    <a href="#">
                        <time>Tors 5 juli kl. 06:30</time>
                        Lorem ipsum
                    </a>
                </li>
                <li class="posts-list__item posts-list__item--active">
                    <a href="#">
                        <time>Tors 5 juli kl. 06:30</time>
                        Lorem ipsum
                    </a>
                </li>
                <li class="posts-list__item">
                    <a href="#">
                        <time>Tors 5 juli kl. 06:30</time>
                        Lorem ipsum
                    </a>
                </li>
            </ul>
        </li>
        <li class="category-list__item">
            <a href="#" class="category-list__heading">🇸🇪 Malmö</a>
        </li>
    </ul>
</aside>