<section class="timeline">
    <header class="timeline__item timeline__item--header">
        <span>Självskapsresan<br>T-minus 19/17:20:20</span>
    </header>
    <div class="timeline__item timeline__item--day">
        <span class="timeline__item__heading">Torsdag</span>
        <span>5 juli</span>
    </div>
    <div class="timeline__item">
        <span class="timeline__item__heading">Karlstad</span>
        <span>Avresa: 06:11</span>
    </div>
    <div class="timeline__item">
        <span class="timeline__item__heading">Göteborg</span>
        <span>Ankomst: 08:45</span>
    </div>
    <div class="timeline__item">
        <span class="timeline__item__heading">Göteborg</span>
        <span>Avresa: 10:00</span>
    </div>
    <div class="timeline__item">
        <span class="timeline__item__heading">Köpenhamn</span>
        <span>Ankomst: 13:15</span>
    </div>
    <div class="timeline__item timeline__item--day">
        <span class="timeline__item__heading">Fredag</span>
        <span>6 juli</span>
    </div>
    <div class="timeline__item">
        <span class="timeline__item__heading">Köpenhamn</span>
        <span>Avresa: 07:35</span>
    </div>
</section>