.site-title {
    margin: 0 0 30px 0;
    font-size: 32px;
    font-weight: normal;
    color: white;
    @include tablet {
        font-size: 48px;
    }
    @include desktop {
        margin: 0 0 80px 0;
        font-size: 64px;
    }
}

.main {
    margin: 30px auto 100px auto;
    max-width: 960px;
    width: 90%;
    z-index: 1;
    @include tablet {
        flex: 1;
        margin: 30px 30px 100px 30px;
    }
    @include desktop {
        margin: 30px 50px 100px 50px;
    }
}


/**
 *
 * Blogginlägg
 *
 */
.post-wrapper {
    position: relative;
}
.post {
    padding-bottom: 20px;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    position: relative;
    z-index: 2;
    line-height: 1.2;
    @include tablet {
        padding-bottom: 100px;
    }

    // Allt utom img
    &>*:not(img) {
        margin-left: auto;
        margin-right: auto;
        max-width: 580px;
        width: 90%;
    }
    img {
        margin: 0 auto;
        display: block;
    }
    p {
        line-height: 1.5;
    }
}
.post__caption {
    margin: 4px 0 16px 0;
    display: block;
    font-size: 14px;
    text-align: center;
    color: #333;
}
.post__title {
    margin: 20px 0 0 0;
    font-size: 32px;
    color: $red;
    line-height: 1;
    @include tablet {
        font-size: 48px;
    }
    small {
        margin-bottom: 8px;
        font-size: 18px;
        display: block;
        color: $brown;
        @include tablet {
            font-size: 24px;
        }
    }
}
.post__published {
    margin-top: 8px;
    font-size: 14px;
    color: $blue;
    span {
        display: block;
    }
}


/**
 *
 * Placeholder
 *
 */
.post--placeholder {
    padding-bottom: 0;
    height: 100%;
    span {
        display: block;
        animation-duration: 1.8s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        background: #f6f7f8;
        background: linear-gradient(to right, #eaeaea 8%, #dcdcdc 38%, #eaeaea 54%);
        background-size: 1000px 640px;
        position: relative;
        .posts-pile--run-animation & {
            animation-name: placeHolderShimmer;
        }
    }
    .post__title {
        span {
            width: 90%;
            height: 36px;
        }
        small span {
            width: 100px;
            height: 24px;
        }
    }
    .post__published span {
        width: 75px;
        height: 14px;
    }
    p span {
        width: 100%;
        height: 30px;
    }
}
@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.posts-pile {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    opacity: .8;
    &.posts-pile--animateable {
        transition: opacity 1s ease-in-out;
    }
    &.posts-pile--run-animation {
        animation: movePile 1s;
        animation-delay: 235ms;
        z-index: 1;
        animation-fill-mode: forwards;
        @include tablet {
            animation-delay: 0;
        }
    }
    &.posts-pile--reset-animation {
        animation: resetPile 1s;
        animation-fill-mode: forwards;
    }
}
@keyframes movePile {
    0% {
        transform: rotate(2deg) translate(0, 0);
    }
    70% {
        transform: rotate(2deg) translate(200px, -20px);
        opacity: .8;
        z-index: 1;
    }
    71% {
        z-index: 3;
    }
    100% {
        opacity: 1;
        z-index: 3;
        transform: rotate(0deg) translate(0, 0);
    }
}
@keyframes resetPile {
    0% {
        opacity: 1;
        z-index: 3;
        transform: rotate(0deg);
    }
    30% {
        opacity: 0;
    }
    31% {
        z-index: 1;
    }
    40% {
        opacity: .8;
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(2deg);
    }
}