.site-title {
    margin: 0 0 15px 0;
    font-size: 32px;
    font-weight: normal;
    color: white;
    @include tablet {
        font-size: 48px;
    }
    @include desktop {
        margin: 0 0 80px 0;
        font-size: 64px;
    }
}

.main {
    margin: 30px auto 100px auto;
    width: 90%;
    z-index: 1;
    @include tablet {
        flex: 1;
        margin: 30px 30px 100px 30px;
    }
    @include desktop {
        margin: 30px 0 100px 120px;
    }
}

.post-wrapper {
    position: relative;
}
.post {
    padding-bottom: 20px;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    position: relative;
    z-index: 2;
    line-height: 1.2;
    @include tablet {
        padding-bottom: 100px;
    }

    // Allt utom img
    &>*:not(img) {
        margin-left: auto;
        margin-right: auto;
        max-width: 580px;
        width: 90%;
    }
}
.post__title {
    margin: 20px 0 0 0;
    font-size: 32px;
    color: $red;
    line-height: 1;
    @include tablet {
        font-size: 48px;
    }
    small {
        margin-bottom: 7px;
        font-size: 18px;
        display: block;
        color: $brown;
        @include tablet {
            font-size: 24px;
        }
    }
}

.posts-pile {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    opacity: .8;
    &.posts-pile--animateable {
        transition: opacity 1s ease-in-out;
    }
    &.posts-pile--run-animation {
        animation: movePile 1s;
        z-index: 1;
        animation-fill-mode: forwards;
    }
}
@keyframes movePile {
    0% {
        transform: rotate(2deg) translate(0, 0);
    }
    70% {
        transform: rotate(2deg) translate(200px, -20px);
        opacity: .8;
        z-index: 1;
    }
    71% {
        z-index: 3;
    }
    100% {
        opacity: 1;
        z-index: 3;
        transform: rotate(0deg) translate(0, 0);
    }
}