/**
 *
 * Sidebar
 *
 */
.sidebar {
    width: 85%;
    max-width: 320px;
    background: $brown;
    box-shadow: 2px 0 4px rgba(0, 0, 0, .5);
    flex: 1;

    position: absolute;
    top: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: .15s cubic-bezier(.4,0,.2,1);
    z-index: 3;

    .sidebar-is-open & {
        transform: translateX(0);
        transition: transform 235ms ease-in-out;
    }

    @include tablet {
        position: relative;
        transform: translateX(0);
    }
    @include desktop {
        max-width: 410px;
    }
}
.sidebar__scrollable {
    overflow-y: auto;
    height: 100%;
}
.sidebar__timeline {
    width: 2px;
    background: $red;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
}


/**
 *
 * Kategorilista/städer
 *
 */
.category-list {
    margin: 0;
    padding: 0;
}
.category-list__item {
    list-style-type: none;
    background: $brown;
    transition: background .2s;
    a {
        display: block;
    }
    &:hover,
    &.category-list__item--active {
        background: #f4c68e;
        cursor: pointer;
    }
}
.category-list__heading {
    padding: 10px 0 10px 20px;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none; 
    color: $red;
    @include desktop {
        font-size: 36px;
    }
}
.category-list__item--active .category-list__heading:hover {
    background: rgb(243, 191, 128);
}


/**
 *
 * Lista med bloggposter
 *
 */
.posts-list {
    margin-top: -100%;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
    height: auto;
    transition: margin-top 235ms cubic-bezier(.4,0,.2,1);
    .category-list__item--active & {
        margin-top: 0;
    }
}
.posts-list__wrapper {
    overflow: hidden;
}
.posts-list__item {
    list-style-type: none;
    background-color: #f4c68e;
    transition: background-color .2s;
    a {
        padding: 15px 10px 15px 55px;
        display: block;
        font-size: 18px;
        color: $red;
        text-decoration: none;
        @include desktop {
            padding: 15px 10px 15px 100px;
            font-size: 22px;
        }
    }
    time {
        font-size: 12px;
        color: black;
        display: block;
        @include desktop {
            font-size: 14px;
        }
    }

    &:hover,
    &.posts-list__item--active {
        background-color: #f7d7b0;
        background-image: url('../img/needle.svg');
        background-position: 10px center;
        background-repeat: no-repeat;
    }
}