.timeline {
    display: flex;
    background: $blue;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
    text-align: center;
    color: white;
    z-index: 5;
    overflow-x: scroll;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}
.timeline__item {
    padding: 0 20px;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    &.timeline__item--header {
        padding: 0;
        background: $lightblue;
        color: $red;
        span {
            width: 140px;
            @include tablet {
                width: 170px;
            }
        }
    }
    &.timeline__item--day {
        background: $darkblue;
    }

    @include tablet {
        padding: 0 40px;
        font-size: 14px;
    }
}
.timeline__item__heading {
    margin-bottom: 2px;
    display: block;
    font-size: 16px;
    @include tablet {
        font-size: 18px;
    }
}