/**
 *
 * Färger
 *
 */
$orange: #F25430;
$brown: #F2B872;
$red: #EE3F43;
$blue: #93B7BF;
$lightblue: #DEE9EB;
$darkblue: rgb(117, 146, 152);


/**
 *
 * Media queries
 *
 */
$tablet: 900px;
$desktop: 1024px;

@mixin tablet {
    @media (min-width: $tablet) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: $desktop) {
        @content
    }
}