@import 'variables';
@import 'timeline';
@import 'main';
@import 'sidebar';

html, body {
    box-sizing: border-box;
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;    
    background: $orange;
}

.site-wrapper {
    display: flex;
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

.overlay {
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: none;
    .sidebar-is-open & {
        display: block;
    }
    @include tablet {
        display: none !important;
    }
}

.js-open-sidebar {
    margin-bottom: -25px;
    padding: 0;
    position: fixed;
    bottom: 50%;
    width: 60px;
    left: 0;
    height: 50px;
    z-index: 5;
    background: $brown;
    display: flex;
    flex-direction: column;
    border: none;
    justify-content: center;
    align-items: center;
    transition: opacity 235ms ease-in-out;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 0 5px 5px 0;
    .sidebar-is-open & {
        display: none;
    }

    @include tablet {
        display: none;
    }
    //@media (min-height: )
}

/**
 *
 * Helpers
 *
 */

.flex {
    display: flex;
}